<h1>Welcome to Awesome Answers</h1>
<% @questions.each do |question| %>
  <%= link_to question.title, question %>
  <br/>
  <p><%= question.body.truncate(25) %></p>
  <p>Created On: <%= formatted_date(question.created_at) %>
  <hr />
<% end %>
<br/>
<br/>
<%= link_to "New Question", new_question_path, class: "btn btn-primary" %>