<p>Hello <%= @user.name_display %>,</p>
<p>You've got new answer to your question titled: <%= link_to @question.title, question_url(@question) %></p>
<p>The answer is: <%= @answer.body %></p>
<p>Regards,</p>
<p>Awesome Answers Team</p>